html{
    font-family: 'Courier New', Courier, monospace;
}
body{
     text-align: center;
     background-color: black;
     color: aliceblue;
}
span{
    color: rgb(222, 102, 102);
    font-style :normal;
    font-weight: bold;
}
input[type=submit] {
    width: 7%;
    background-color: #4CAF50;
    color: white;
    padding: 5px;
    margin: 7px 7px;
    border: none;
    border-radius: 2pc;
    cursor: pointer;
    font-family: 'Courier New', Courier, monospace;
}
input[type=submit]:hover {
    background-color: #45a049;
    font-size: large;
}
input[type=reset] {
    width: 5%;
    background-color: red;
    color: white;
    padding: 5px;
    margin: 5px ;
    border: none;
    border-radius: 2pc;
    cursor: pointer;
    font-family: 'Courier New', Courier, monospace;
}
input[type=reset]:hover {
    background-color:red;
    font-size: large;
}