
html{
    font-family: 'Courier New', Courier, monospace;
}
body{
    background-color: black;
}
li:hover{
    color: cornflowerblue;
}
header {
    color: aliceblue;
    font-size: 30px;
    text-align: center;
    border-style: groove;
    border-radius: 3pc;
    background-color :#555;
    padding-top: 3px;
    padding-bottom: 3px;
}
#cinnamon_1{
    display : flex;
    float: right;
    margin-right: 40px;
    margin-top: 60px;
    width: 350px;
    height: 500px;
    padding: 15px;
}
#cinnamon_2{
    display : flex;
    float: right; 
    margin-right: 40px;
    margin-top: 50px;
    width: 300px;
    height: 500px;
    padding: 15px;
}
#cinnamon_5 {
    width: 250px;
    height: 350px;
	margin: 50px;
    margin-right: 10px;
	float: left;
    display: block;
}
#cinnamon_4{
    width: 250px;
    height: 350px;
	margin: 50px;
    margin-right: 5px;
	float: left;
    display: block;
}
#cinnamon_3 {
	width: 250px;
    height: 350px;
	margin: 50px;
    margin-right: 5px;
	float: left;
    display: block;
}

#cinnamon_6{
    display : flex;
    float: left;
    margin-right: 5px;
    margin-top: 30px;
    width: 400px;
    height: 250px;
    padding: 15px;
}
h2{
    margin-left: 5pc;
    color: rgb(219, 225, 230);
    text-decoration-line: underline;
    text-decoration-color: aliceblue;
}
li{
    margin-left: 1pc;
    color: rgb(219, 225, 230);
    font-size: medium;
}
hr{
    stroke:aliceblue;
    content: normal;
    margin-bottom: 50px;
}
a:active{
    margin-right: 50px;
    color: rgb(219, 225, 230);
    font-size: large;
    color:aliceblue;
}
a:link,a:visited{
    margin-right: 50px;
    color: rgb(219, 225, 230);
    font-size: large;
    color : aliceblue;
    background-color: azure;
    display: inline-block;
    float: right;
    border-style: groove;
    border-radius: 3pc;
    background-color :#555;
    padding-top: 4px;
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: 4px;
}
a:hover,a:active{
    margin-right: 50px;
    color: rgb(219, 225, 230);
    font-size: large;
    color :gold;
    background-color: azure;
    display: inline-block;
    float: right;
    border-style: groove;
    border-radius: 3pc;
    background-color :#555;
    padding-top: 4px;
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: 4px;
}

